<?xml version="1.0" encoding="UTF-8"?>

<!--suppress XmlDefaultAttributeValue -->

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="../../../tests/Backend/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="true"
         verbose="false"
>

    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />

        <env name="APP_DEBUG" value="false"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="KERNEL_CLASS" value="Kishlin\Apps\RPGIdleGame\Backend\RPGIdleGameKernel"/>
    </php>

    <testsuites>
        <testsuite name="driving">
            <directory>tests/DrivingTests</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>tests/FunctionalTests</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>

</phpunit>
